#Day 3 - Python Series

#Easy Level â€“ Understand the basics

#1. Create a dictionary to store the name and marks of a student

In [ ]:
info = {
    "name" : "Abishekh",
    "marks" : 45
}
print(info)

{'name': 'Abishekh', 'marks': 45}

#2.Add a new key "age" with value 20 to an existing dictionary.

In [ ]:
info = {
    "name" : "Eraj",
    "class" : 11
}
info["age"] = 20
print(info)

{'name': 'Eraj', 'class': 11, 'age': 20}

#3. .Retrieve and print the value of key "marks" from the dictionary: {"name": "Ali", "marks": 85}.

In [ ]:
dic = {
    "name" : "Ali",
    "marks" : 85
}
print(dic["marks"])

85

#4.Create a set with values: 1, 2, 2, 3, 3, 3. Print the set

In [ ]:
set = {1, 2, 2, 3, 3, 3}
print(set)

{1, 2, 3}

#5. .Create an empty set and add the elements 10, 20, and 30 using add().

In [ ]:
empty_set = set()
empty_set.add(10)
empty_set.add(30)
empty_set.add(20)
print(empty_set)

TypeError: 'set' object is not callable

#6.Use set.pop() on a set of 5 elements and print the result.

In [ ]:
set = {1, 3.4, 'applee', 444, 'mango'}
set.pop()
print(set)

{3.4, 'applee', 444, 'mango'}

#7.Use dict.get() to safely retrieve a value for a key that may not exist.

In [ ]:
dic = {
    'class' : 11,
    "name" : 'Eraj'
}
print(dic.get("age"))

None

#8. .Print all keys from a dictionary using .keys().

In [ ]:
info = {
    'name' : 'Eraj',
    'age' : 17,
    'class' : 11
}
print(info.keys())

dict_keys(['name', 'age', 'class'])

#9. .Create a dictionary with three keys: "A" , "B", "C" and assign any values.

In [ ]:
grade = {
    "A" : 100,
    "B" : 80,
    "C" : 50
}
print(grade)

{'A': 100, 'B': 80, 'C': 50}

#10.Create a set, remove an element using remove() and print the updated set.

In [ ]:
num = {3, 6, 4, 7, 2, 8}
num.remove(3)
print(num)

{2, 4, 6, 7, 8}

#Medium Concept Application

#1. Create a dictionary with subject names as keys and user input marks as values.

In [ ]:
maths = int(input("Write your maths marks: "))
urdu = int(input("Write your urdu marks: "))
sci = int(input("write your science marks: "))

marks = {
    "maths" : maths,
    "urdu" : urdu,
    "science" : sci
}
print("Your subject marks are: ", marks)

Write your maths marks: 74
Write your urdu marks: 66
write your science marks: 96
Your subject marks are:  {'maths': 74, 'urdu': 66, 'science': 96}

#2. Merge two dictionaries using update() and print the result.

In [ ]:
dic1 = {
    'name' : 'Eraj',
    'age' : 17,
    'class' : 11
}
dic2 = {
    'subject' : 'coding',
    'program' : 'python',
    'percentage' : 98.3
}
dic1.update(dic2)
print("The updated dictionary is: ", list(dic1))

The updated dictionary is:  ['name', 'age', 'class', 'subject', 'program', 'percentage']

#3.Given a list: ["python" ,"java", "C++", "python"], find the number of unique subjects using a set

In [ ]:
list = ['python', 'java', 'c++', 'python']
convert = set(list)
print("Number of unique subjects are:", len(convert))

TypeError: 'set' object is not callable

#4.Use a nested dictionary to store student name and marks in math and science. Then print the math marks

In [ ]:
info = {
    'name' : 'Eraj',
    'marks': {
        'maths' : 34,
        'sci' : 33
    }
}
print("student info is" , info)

student info is {'name': 'Eraj', 'marks': {'maths': 34, 'sci': 33}}

#5. Write code to store three word-meaning pairs in a dictionary and print the dictionary

In [ ]:
dic = {
    'python' : 'a programing langauge',
    'mama' : 'family member',
    'furqan_mamu' : 'Best guider'
}
print(dic)

{'python': 'a programing langauge', 'mama': 'family member', 'furqan_mamu': 'Best guider'}

#6. .Create a set with different types: 9, "9", and 9.0. Print the set and explain the result.

In [40]:
nums = {9, '9', 9.0}
print(nums)

{9, '9'}

#7. Write code to delete a key from a dictionary

In [43]:
my_dict = {
    'name' : 'Eraj',
    'age' : 18,
    'class' : 11
}
my_dict.pop('age')
print("updated dict: ", my_dict)

updated dict:  {'name': 'Eraj', 'class': 11}

#8. Use .items() to loop over all key-value pairs in a dictionary and print them.

#9. Find and print the intersection of two sets

In [44]:
set1 = {'mama', 1 , 3, 4}

set2 = {'mama', 1 , 3, 5, 3, 5}
print(set1.intersection(set2))

{1, 3, 'mama'}

#10.Take 3 subject names and marks from the user and store them in an initially empty dictionary.

In [47]:
empty_dict = {}
subject1 = input("Enter your suject name: ")
marks1 = int(input("Enter your " + subject1 + 'marks:'))
empty_dict[subject1] = marks1
subject2 = input("Enter your suject name: ")
marks2 = int(input("Enter your " + subject2 + 'marks:'))
empty_dict[subject2] = marks2
subject3 = input("Enter your suject name: ")
marks3 = int(input("Enter your " + subject3 + 'marks:'))
empty_dict[subject3] = marks3
print(empty_dict)

Enter your suject name: sci
Enter your scimarks:33
Enter your suject name: urdu
Enter your urdumarks:55
Enter your suject name: maths 44
Enter your maths 44marks:33
{'sci': 33, 'urdu': 55, 'maths 44': 33}

#Hard (Concept Mastery)

#1. Write a function that takes a list and returns a set of only unique elements.

In [48]:
list = ['hello', 231, 122, 122, 4]
unique_el = set(list)
print(unique_el)

TypeError: 'set' object is not callable

#2. Create a dictionary and remove all key-value pairs where the value is less than 50

In [ ]:
#Uses Loops

#3. Create a nested dictionary where each student has name, age, and a nested dictionary of subjects and scores.

In [54]:
class_info = {
    'students': {
        'Karan' : 29,
        "Sara" : 12,
        'Maina' : 23
    },
    'sujects': {
        "Maths" : 234,
        "Sci" : 222,
        "Eng" : 222
    }
}
print(class_info)

{'students': {'Karan': 29, 'Sara': 12, 'Maina': 23}, 'sujects': {'Maths': 234, 'Sci': 222, 'Eng': 222}}

#4. Take 5 word-meaning pairs from user input and store them in a dictionary.

In [ ]:
empty_dict = {}
subject1 = input("Enter your suject name: ")
marks1 = int(input("Enter your " + subject1 + 'marks:'))
empty_dict[subject1] = marks1
subject2 = input("Enter your suject name: ")
marks2 = int(input("Enter your " + subject2 + 'marks:'))
empty_dict[subject2] = marks2
subject3 = input("Enter your suject name: ")
marks3 = int(input("Enter your " + subject3 + 'marks:'))
empty_dict[subject3] = marks3
marks4 = int(input("Enter your " + subject4 + 'marks:'))
empty_dict[subject4] = marks4
marks5 = int(input("Enter your " + subject5 + 'marks:'))
empty_dict[subject5] = marks5
print(empty_dict)

#6. Write code to reverse a dictionary: make keys become values and values become keys.

#8. Store both 9 and 9.0 as separate values in a set using any trick with built-in types.

In [57]:
set = {9, "9.0"}
print(set)

{9, '9.0'}

#9. .Simulate classroom allocation: given a list of subjects with duplicates, calculate how many classrooms are needed (hint: use set).