#Day 3 - Python Series

#Easy Level â€“ Understand the basics

#1. Create a list of your 5 favorite fruits.

In [8]:
list1 = ['apple', 'mango' , 'orange' , 'banana' , 'starwberry']
print(list1)

['apple', 'mango', 'orange', 'banana', 'starwberry']

#2. Access the 3rd element from a list [5, 10, 15, 20].

In [10]:
list = [5, 20, 15, 20]
print("the 3rd element is:" ,list[2])

the 3rd element is: 15

#3. Change the first value of a list from 10 to 100.

In [12]:
list = [10, 20, 30, 40]
list[0] = 100
print(list)

[100, 20, 30, 40]

#4. Use len() to find the number of items in [4, 7, 1, 2].

In [13]:
items = [4, 7, 1, 2]
print("the len of the list is: ", len(items))

the len of the list is:  4

#5. Create a tuple with the elements: "Python", 3.10, True.

In [16]:
tup = ("python", 3.10, True)
print(type(tup))

<class 'tuple'>

#6. Add an element "banana" to a list using .append().

In [17]:
fruits = ['apple', 'mango', 'stawberry']
fruits.append('banana')
print(fruits)

['apple', 'mango', 'stawberry', 'banana']

#7. Sort the list [3, 1, 4, 2] in ascending order.

In [18]:
list = [3, 1, 4, 2]
list.sort()
print("The list in ascending order is: ", list)

The list in ascending order is:  [1, 2, 3, 4]

#8. Remove the element 4 from the list [4, 5, 6].

In [20]:
list = [4, 5, 6]
list.remove(4)
print(list)

[5, 6]

#9. Reverse the list [1, 2, 3].

In [22]:
list = [1, 2, 3]
list.reverse()
print(list)

[3, 2, 1]

#10. Count how many times 2 appears in (2, 2, 3, 4).

In [27]:
tup = (2, 2,2, 3, 4)
print("The element 2 appears times: ", tup.count(2))

The element 2 appears times:  3

#MEDIUM (LOGIC & METHODS)

#11. Write a program to take 5 names from user and store in a list.

In [28]:
names = []
name1 =input("WRITE YOUR NAME: ")
names.append(name1)
name2 = input("Write your name: ")
names.append(name2)
name3 =input("WRITE YOUR NAME: ")
names.append(name3)
name4 = input("Write your name: ")
names.append(name4)
name5 =input("WRITE YOUR NAME: ")
names.append(name5)
print(names)

WRITE YOUR NAME: eraj
Write your name: wusqa
WRITE YOUR NAME: abdullah
Write your name: amir
WRITE YOUR NAME: rabia
['eraj', 'wusqa', 'abdullah', 'amir', 'rabia']

#12. Slice and print only first 3 values from a list of 5 numbers.

In [30]:
list = [2, 3, 4, 5, 6]
print(list[0 : 3])

[2, 3, 4]

#13. Create a tuple with numbers and print the 2nd to 4th values.

In [31]:
tup = (1, 3, 6, 7, 8, 9, 60)
print(tup[1:4])

(3, 6, 7)

#14. Check if a word is palindrome using a list.

In [67]:
word = ["eraj"]
copy_word = word.copy()
copy_word.reverse()
if word == copy_word:
  print('Palindrome')
else:
  print('Not palindrome')

TypeError: 'list' object is not callable

#15 Use .insert() to add "grape" at index 1 in a fruit list.

In [47]:
fruit = ['mango', 'aapple', 'banana']
fruit.insert(1, 'grape')
print(fruit)

['mango', 'grape', 'aapple', 'banana']

#16. Sort a list in descending order using .sort(reverse=True).

In [48]:
list = [1, 3, 4, 7, 88, 4, 33]
list.sort(reverse=True)
print(list)

[88, 33, 7, 4, 4, 3, 1]

#17. Use .pop() to remove the 2nd item from a list.

In [50]:
list = [1, 3, 4, 7, 88, 4, 33]
list.pop(1)
print(list)

[1, 4, 7, 88, 4, 33]

#18. Count number of B grades in this tuple: ("B", "A", "B", "C").

In [52]:
tup = ("B", "c", "B", "A")
print("The occurence of grade B is:", tup.count("B"))

The occurence of grade B is: 2

#19. Check if a value exists in a list using in.

In [56]:
list = [2, 4, 6, 8, 3, 5]
if 8 in list:
  print("Yes it is in the list")
else:
  print("no it is not in the list")

Yes it is in the list

#20. Take 3 numbers from user and print their average.

In [59]:
num1 = int(input("Write num"))
num2 = int(input("Write num"))
num3 =  int(input("Write num"))
avg = (num1 + num2 + num3) / 3
print("The avg of the numbs is: ", avg)

Write num6
Write num7
Write num8
The avg of the numbs is:  7.0

#Hard (Conceptual Mastery)

#21. Check if a list is a palindrome without using slicing.

In [69]:
list = [1, 2, 4, 2, 1]
list1 = list.copy()
list1.reverse()
if list == list1:
  print("Palindrome")
else:
  print("Not palindrome")

Palindrome

#22. Create a list from user input and remove duplicates.

In [71]:
user_input = input("enter items sperated by spaces: ")
list = user_input.split()
remove_d = set(list)
print(remove_d)

enter items sperated by spaces: apple mango orange apple
{'orange', 'mango', 'apple'}

#23. Merge two lists and sort them together.

In [72]:
list1 = [1 , 2, 3, 4, 7]
list2 = [2 , 5, 7, 9, 3]
merge = list1 + list2
merge.sort()
print(merge)

[1, 2, 2, 3, 3, 4, 5, 7, 7, 9]

#25. Take names and scores, and store them in a nested list.

In [88]:
name1 = ['eraj', 23]
name2 = ['sara', 4444]
name3 = ['musavir' , 44]
nested_list = [name1, name2, name3]
print("Nested List is:", nested_list)

Nested List is: [['eraj', 23], ['sara', 4444], ['musavir', 44]]

#26. Reverse a tuple using slicing.

In [74]:
tup = ("2", '3', '4', '7')
reverse = tup[::-1]
print(reverse)

('7', '4', '3', '2')

#27. Simulate stack operations using .append() and .pop().

#29. From a list of numbers, separate even and odd numbers into different lists.

In [85]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even = []
odd = []

for num in numbers:
    if num % 2 == 0:
        even.append(num)
    else:
        odd.append(num)

print("Even numbers are:", even)
print("Odd numbers are:", odd)

Even numbers are: [2, 4, 6, 8, 10]
Odd numbers are: [1, 3, 5, 7, 9]

#30. Take a list of student marks, and print highest, lowest, and average marks.

In [76]:
marks = [234, 67, 33, 788, 433]
print("The highest marks are: ", max(marks))
print("The lowest marks are: ", min(marks))
print("The average marks are: ", sum(marks) / len(marks))

The highest marks are:  788
The lowest marks are:  33
The average marks are:  311.0